<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <a href="/" class="nav-link px-2 text-white">
                    <img th:src="@{/glav.jpg}" width="200" height="70" alt="">
                </a>
                <li><a href="/vakansy" class="nav-link px-2 text-white">Вакансии</a></li>
                <li><a href="/resume" class="nav-link px-2 text-white">Резюме</a></li>

            </ul>
            <div class="text-end">
                <div class="login" sec:authorize="isAnonymous()">
                    <a href="/login" type="button" class="btn btn-outline-light me-2">Авторизация</a>
                    <a href="/registration" type="button" class="btn btn-warning">Регистрация</a>
                </div>
                <div class="admin" sec:authorize ="hasAnyAuthority('ADMIN')">
                    <a href="/admin" type="button" class="btn btn-warning me-2">admin</a>
                </div>
                <br>
                <div class="logout" sec:authorize="isAuthenticated()">
                    <a href="/logout" type="button" class="btn btn-outline-light me-2">Logout</a>
                </div>
            </div>
        </div>

    </div>
</div>